<!DOCTYPE html>
<html>
<head>

<!--    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">-->
    <title>Object Detection Web App</title>

</head>
<body>
    <h1>Infusion Drop Detection</h1>
    <button id="start-btn">Start Detection</button>
    <button id="stop-btn">Stop Detection</button>
    <div id="camera">
        <img id="video-stream" src="{{ url_for('video_feed') }}" width="640" height="480"/>
    </div>
    <div id="stats">
        <h2>Statistics</h2>
        <p>Total Drops Detected: <span id="totalDrops"> </span></p>
        <p>Drop in one minute: <span id="timeBetweenDrops"> </span></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='services/functionHandle.js') }}"></script>

</body>
</html>
